
.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -280%);
}

/* Scrollable table */
.table-container {
  max-height: 300px; /* Approximate height for 10 rows */
  overflow-y: auto; /* Enables vertical scrolling */
  border: 1px solid #ccc;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th, .table-container td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.table-container tr:nth-child(even) {
  background-color: #929db3;
}
.main_header{
  text-align: center;
  font-size: 120px;
  font-weight: bold;
  margin-top: 30px;
  vertical-align: middle;}
  
  h4 {
    text-align: center
  }
  .bodytextinfo{
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: #000000;
  }
  
  /* Slide-in animation for text */
  .slide-in {
    opacity: 0;
    transform: translateY(20px); /* Slight downward offset */
    transition: all 3s ease-out; /* Smooth transition for opacity and position */
  }
  
  .slide-in-visible {
    opacity: 1;
    transform: translateY(0); /* Reset position */
  }
  
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Asap", sans-serif;
  }

  section{
    min-height: 52vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  section .container{
    margin: 100px;
  }
  section h1{
    font-size: 3rem;
    margin: 20px;
  }
  section h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
  }
  section .text-container{
     display: flex;
  }
  section .text-container .text-box{
    margin: 20px;
    padding: 20px;
    background: #00c2cb;
  }
  section .text-container .text-box h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  @media (max-width: 900px){
    section h1{
      font-size: 2rem;
      text-align: center;
    }
    section .text-container{
      flex-direction: column;
    }
  }


  #mySidepanel {
    width: 100%;
    text-align: left;
    color: rgb(0, 0, 0);
    display: none;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    position: relative;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #2ad159;
  }

.midaligned_section {
  width: 100%;
  overflow: hidden;
}
