body {
    background-image: url("iris1.jpg");
    background-size: cover;
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    background-repeat: no-repeat;
    background-position: center;
  }