<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
<head>
{% load static %}
<link href="{% static 'football2/style.css' %}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-python.min.js">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/prism.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.13.0/js/anychart-annotations.min.js"></script>
</head>
<body>
  <p class = "main_header">The death of the premier league...</p>
  <section>
    <div class="container reveal">
      <img src="{% static 'football2/football2.jpg' %}" alt="pep" class="responsive-image">
    </div>
  </section>
  <section>
    <div class="container reveal">
      <h1>The Problem... </h1>
      <div class="text-container">
        
        <img src="{% static 'football2/tv.jpg' %}" alt="tv" class="mini-logo">
        <ul>
          <li class="mainbody">All sports are at their most entertaining when competition is at its peak. Great rivalries thrill sports fans. Knife-edge matches gnawed down to the wire, last gasp winners...</li>
          <li class="mainbody"> Without rivalry what do we fans gloat about? Without competition and tension why do we watch? Why boast the next morning at work if the opposition never stood a chance to begin with?</li>
          <li class="mainbody">In this data story, I investigate how English football has slowly lost its competitive edge in recent years.</li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    
    <div class = "container reveal">
      <h1> Diagnosing the decay...</h1>
      <div class = "text-container">
      <ul>
      <li class="mainbody">An early warning sign that English football has fallen out of balance are possession stats.</li>
      <li class="mainbody">The ability to maintain possession against opposition allows a football team to create opportunities to score goals. Without significant possession, an opposing team becomes a very dull threat. </li>
      <li class="mainbody"> The chart below highlights the average difference in possession per match in Europe's top 5 leagues. The greater the average difference, the more one-sided the match:</li>
    </ul>
    <img src = "{% static 'football2/poss.jpg' %}" class = "mini-logo">
  </div>
      <div id="linechartpossessiondiff"></div>
      <button type="button" class="collapsible coll2"><h3>The Premier League produces the most one-sided matches!</h3></button>
          <div class="collapsecontent coll2">
            <p> Create histograms below to see the distribution in possession per match between 2014-22. </p>
                      <div>
                        <p>Select Bin Size: (recommended bin size = 10)</p>
                        <button onclick="drawfive()" style="font-size: 1.3em">Bin size = 5</button>
                        <button onclick="drawten()" style="font-size: 1.3em">Bin size = 10</button>
                        <p>Drag Slider to select year:</p>
                      </div>
                      <div class="slidecontainer">
                        <input type="range" min="2014" max="2021" value="2014" step="1" class="slider" id="myRange" style="width: 100%;">
                      </div>
                     
                    <p id="year" style="text-align: center;"></p>
                      <div id = "movinghistoprem" style="width: 100%; height: 300px"></div>
                    <p> Right skewness indicates more balanced matches. Drag the slider to observe this skewness decrease.</p>
    </div>
  </section>
  <section>
    <div class = "container reveal">
          <h1> The poison</h1>
          <ul>
          <li class="mainbody"> The clearest evidence of the rot is seen in the list of different champions: 4 different winners in 8 years.</li>
          <li class="mainbody"> Of these 4 winners, between 2014 and 2022, Manchester City won 5 out of a possible 9 league titles. (They have since also won in 2023 and 2024!) </li>
          <li class="mainbody"> The graph below demonstrates Manchester City's win % over the time period. (C) indicates a championship winning season. </li>
        </ul>
          <div id="citywins"></div>
          <ul>
          <li class="mainbody"> Whilst Manchester City's dominance in this time period is unmistakeable, this isn't something new. </li>
          <li class="mainbody">The premier league has always seen dominant teams rise and fall. This doesn't by itself make the league less competitive.</li>
          <li class="mainbody"> What does make the league less competitive are the following possession stats:</li>
        </ul>
          <div id="cityvsrest"></div>
          <button type="button" class="collapsible coll2"><h3>Breaking down the possession:</h3></button>
          <div class="collapsecontent coll2">
            <p> We can also visualise the shift in possession difference above through skewness in Manchester City matches. </p>
                      <div>
                        <p>Select Bin Size: (recommended bin size = 10)</p>
                        <button onclick="drawfive2()" style="font-size: 1.3em">Bin size = 5</button>
                        <button onclick="drawten2()" style="font-size: 1.3em">Bin size = 10</button>
                        <p>Drag Slider to select year:</p>
                      </div>
                      <div class="slidecontainer">
                        <input type="range" min="2014" max="2021" value="2014" step="1" class="slider2" id="myRange2" style="width: 100%;">
                      </div>
                     
                    <p id="year2" style="text-align: center;"></p>
                      <div id = "movinghistocity" style="width: 100%; height: 300px"></div>
                    <p> Again the shift towards possession dominance can be seen through the decrease in right skewness as the distribution becomes more symmetrical.</p>
          </div>
          <ul>
            <li class="mainbody">The usual 'big 6' clubs have historically competed amongst themselves for the top positions in the premier league.</li>
            <li class="mainbody"> They include Manchester United, Chelsea, Arsenal, Liverpool, Tottenham and - of course- Manchester City.</li>
            <li class="mainbody">However, the other 5 clubs cannot match the levels of ball possession from Manchester City since 2016. </li>
            <li class="mainbody">This massive spike in possession stats since 2016 neatly coincides with the arrival of their current coach - Pep Guardiola.</li>
            <li class="mainbody">Following this winning formula, teams are now -more than ever- viewing ball possession as the route to victory.</li>
          </ul>
    </div>
  </section>

  <section>
    <div class="container reveal">
      <h1>Scene of the crime</h1>
      <ul>
        <li class="mainbody">The difference in possession per match has evidently increased in recent years.</li>
        <li class="mainbody">The tragedy of this lies in the added predictability it creates..</li>
        <li class="mainbody">To demonstrate this, I have qualified the most one-sided matches as 'Attack vs Defence Drills'. </li>
        <li class="mainbody">To qualify, a match must have a possession difference of over 25% between the sides.</li>
      </ul>
    <p style="font-size:1.2em"> ~ For matches where possession is exactly 50:50, the home side is considered 'attacking' ~ </p>
    <div id='double_chart' style="display: flex; justify-content: space-around; align-items: flex-start; gap: 0;">
      <div style="width: 50%;">
        <h3 style="text-align: center;">'Attack Vs Defence Drill'</h3>
        <div class="gallery">
          <div class="mySlides">
            <div id="goalsboxplt" style="width: 95%; height: 500px;"></div>
          </div>
          <div class="mySlides">
            <div id="shotsboxplt" style="width: 95%; height: 500px;"></div>
          </div>
          <div class="mySlides">
            <div id="otboxplt" style="width: 95%; height: 500px;"></div>
          </div>
          <div class="mySlides">
            <div id="foulboxplt" style="width: 95%; height: 500px;"></div>
          </div>
          <div class="mySlides">
            <div id="offsideboxplt" style="width: 95%; height: 500px;"></div>
          </div>
        </div>
      </div>
      <div style="width: 50%;">
        <h3 style="text-align: center;">'Balanced'</h3>
        <div class="gallery">
          <div class="mySlides2">
            <div id="balgoalsboxplt" style="width: 95%; height: 500px;"></div>
          </div>
          <div class="mySlides2">
            <div id="balshotsboxplt" style="width: 95%; height: 500px;"></div>
          </div>
          <div class="mySlides2">
            <div id="balotboxplt" style="width: 95%; height: 500px;"></div>
          </div>
          <div class="mySlides2">
            <div id="balfoulboxplt" style="width: 95%; height: 500px;"></div>
          </div>
          <div class="mySlides2">
            <div id="baloffsideboxplt" style="width: 95%; height: 500px;"></div>
          </div>
        </div>
      </div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <p>As shown above, there is a massive disparity between the distribution of goals, shot and shots on target in 'Attack vs Defence Drill' style football matches.</p>
    <p>The below table summarises the findings. Staggeringly, attacking teams in these matches have over twice as many shots as the defending team.</p>
    <p>This leads to an approximate scoreline of 2-1 for most of these encounters. </p>
    <div class="table-container">
      <table>
        <tr>
          <th></th>
          <th>Attack vs Defence Drill</th>
          <th>Balanced</th>
        </tr>
        <tr>
          <td class = "rowheader">Attacking side goals</td>
          <td>1.7476</td>
          <td>1.4116</td>
        </tr>
        <tr>
          <td class = "rowheader">Defending side goals</td>
          <td>1.0633</td>
          <td>1.2821</td>
        </tr>
        <tr>
          <td class = "rowheader">Attacking side shots</td>
          <td>17.3382</td>
          <td>13.8406</td>
        </tr>
        <tr>
          <td class = "rowheader">Defending side shots</td>
          <td>8.2550</td>
          <td>11.2256</td>
        </tr>
        <tr>
          <td class = "rowheader">Attacking side shots on target</td>
          <td>5.7736</td>
          <td>4.6473</td>
        </tr>
        <tr>
          <td class = "rowheader">Attacking side shots on target</td>
          <td>2.9757</td>
          <td>3.8671</td>
        </tr>
      </table>
    </div>
  </div>
  </section>
  <section>
    <div class="container reveal">
      <h1> The night before...</h1>
      <p> Every season, there are always a handful of matches where these sort of patterns emerge.</p>
      <p>However, since 2016, the frequency of 'Attack vs Defence Drill' matches has rocketed.</p>
      <p> It seems that the blueprint set by Manchester City has led to many more teams prioritising higher ball possession.</p>
      <div id="AVD"></div>
      <p>Evidently, we now have a league where one-sided matches are commonplace. As a competitive spectacle, the average premier league match is failing...</p>
    </div>
  </section>
  <section>
    <div class="container reveal">
      <h1> Ramifications </h1>
      <p> In a league of increasingly uncompetitive matches, higher possession is strongly correlated with points per game- as shown in this 2018 scatterplot. </p>
      <div id="scatter2018" >
      </div>
      <p>Observe that the big six cluster together in the top right.</p>
      <p>When more matches are 'Attack vs Defence', results strongly favours the teams who keep the ball well.</p>
      <p>This ultimately favours the footballing establishment, making the league -as a whole- less competitive. </p>
      <p>So are we doomed for a league where the big six can't be touched?</p>
  </section>
<section>
<div class = "container reveal">
  <h1> Resurrection?</h1>
  <p>At the time of producing this, there is cause for optimism. In the last two years, the league results have been shaken up. </p>
  <p>Aston Villa achieved a top 4 finish in 2023-24. This season, Nottingham Forest are currently 3rd in the league and clubs such as Newcastle, Brighton and Bournemouth have established themselves as regular high-fliers.</p>
  <p>Exascerbated by the mismanagement in many of the big six clubs in the country, the premier league may be regaining its competitiveness in recent years.</p>
  <p>Early indicators for this recovery can be seen in 2021:</p>
      <div id="scatter2021">
</div>
<p> Evidently, far more teams are reaching an average of over 50% possession per match. </p>
<p> In an era where possession is nine tenths of the footballing law, clubs have begun fighting possession with possession.</p>

</section>

  <section>
    
    <div class="container reveal">
      <h1> Conclusion </h1>
      <div class="text-container">
        
        <img src="{% static 'football2/trophy.jpg' %}" alt="stokelogo" class="mini-logo">
        <ul>
          <li class="mainbody">The premier league in recent seasons has featured more and more one-sided matches.</li>
          <li class="mainbody">This makes match outcomes predictable and homogenises football - teams all try to play in the same style.</li>
          <li class="mainbody">These types of matches make the league less competitive and arguably less enjoyable to watch.</li>
          <li class="mainbody">However, recent years have shown signs of recovery as teams outside of the big six start to achieve high possession tallies.</li>
          <li class="mainbody">This has arguably led to the league reaching its most unpredictable - and arguably exciting - state in recent years.</li>

        </ul>
      </div>
    </div>
  </section>
  <section>
    <div class="container reveal">
      <h1>How I made this: </h1>
      <h3> Football results data - range from 2014-2022</h3>
      <ul>
        <li class="mainbody">Sourced from kaggle</li>
        <li class="mainbody">Full dataset contains information on 96000 matches </li>
        <li class="mainbody">This is split across 18 leagues spanning 2002-2022. </li>
        <li class="mainbody">I selected 2014-2022 since this range included the necessary features - beyond this data is incomplete. </li>
      </ul>
    
      <div class="text-container">
        <div>
        <h3 class="DataSampleLabel">Football Data Sample</h3>
          <form action="https://www.kaggle.com/datasets/bastekforever/complete-football-data-89000-matches-18-leagues">
          <button type="submit">Click here to access the full football dataset on kaggle</button>
          </form>
        </div>
      </div>
      <div class="table-container">
        <table id="ogfootballTable" border="1">
          <tbody>
            <!-- Populated dynamically -->
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section>
    <div class="container reveal">
        <div class = "midaligned_section">
          <h3> I needed to measure the effect of possession % on points scored per game </h3>
          <p> To produce the scatter plot, I produced a data frame by iterating through every club's individual results via the code below.</p>
          <div class = "box">
            <pre>
              <code class = "language-python highlight-keywords" data-prismjs-copy="Copy the code!">
                # overall_df is a pre-processed dataframe of results where the scores are processed to determine match winners/losers.
                df_2021 = overall_df[overall_df['Year'] == 2021]
                clubs2021 = list(df_2021['Club Home'].unique())
                itemls = []
                for c in clubs2021:
                    ptsls = []
                    possls = []
                    for index, row in df_2021.iterrows():
                        if row['Club Home'] == c:
                            pts = {'HWIN':3, 'DRAW':1, 'AWIN': 0}
                            poss = row['Home Possession']
                            points = pts[row['Result']]
                            ptsls.append(points)
                            possls.append(poss)
                        elif row['Club Away'] == c:
                            pts = {'AWIN':3, 'DRAW':1, 'HWIN': 0}
                            poss = row['Away Possession']
                            points = pts[row['Result']]
                            ptsls.append(points)
                            possls.append(poss)
                        else:
                            continue
                    avgpts = sum(ptsls) / len(ptsls)
                    avgposs = sum(possls)/len(possls)
                    item = {'Club': c, 'Points per game': avgpts, 'Possession per game': avgposs}
                    itemls.append(item)
                scatter2021 = pd.DataFrame(itemls)
              </code>
            </pre>
      
          </div>
        </div>
    </div>
  
  </section>


<script src="{% static 'football2/histo.js' %}"></script>
<script src="{% static 'football2/multilinechart.js' %}"></script>
<script src="{% static 'football2/boxplt.js' %}"></script>
<script src="{% static 'generaluse/reveal.js' %}"></script>
<script src="{% static 'generaluse/collapse.js' %}"></script>
<script src="{% static 'generaluse/table.js' %}"></script>
<script src="{% static 'football2/scatter.js' %}"></script>
<script>
  // Get references to the table bodies
      const ogFootballTableBody = document.getElementById("ogfootballTable").querySelector("tbody");
      // Call the tablepop function with appropriate file locations
      tablepop(ogFootballTableBody, 'football2/data/premsample.csv');
  </script>

</body>
{% endblock %}
