<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
<head>
{% load static %}
<link href="{% static 'text/style.css' %}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.13.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.13.0/js/anychart-tag-cloud.min.js"></script>
</head>
<body>
  <p class = "main_header">News Semantics</p>
  <section>
    <div class="container reveal">
      <img src="{% static 'text/gnews.jpg' %}" alt="gnews" class="titleimg">
      <h1> Uncovering the truth behind the headlines...</h1>
    </div>
    
  </section>
  <section>
    <div class="container reveal">
      <h1> Word Clouds</h1>
      <p> These are the top words in 8 semantic google search categories as of 9/2/25 via google news via the google custom search engine api.</p>

      <p> I filtered out words with less than 2 mentions (and the main semantic word).</p>
      <button type="button" class="collapsible"><h3>Business</h3></button>
        <div class="collapsecontent">
          <div id="business"></div>
        </div>
      <button type="button" class="collapsible"><h3>Technology</h3></button>
        <div class="collapsecontent">
          <div id="technology"></div>
        </div>
      <button type="button" class="collapsible"><h3>War</h3></button>
        <div class="collapsecontent">
          <div id="war"></div>
        </div>
      <button type="button" class="collapsible"><h3>Sport</h3></button>
        <div class="collapsecontent">
          <div id="sport"></div>
        </div>
      <button type="button" class="collapsible"><h3>Science</h3></button>
        <div class="collapsecontent">
          <div id="science"></div>
        </div>
      <button type="button" class="collapsible"><h3>Health</h3></button>
        <div class="collapsecontent">
          <div id="health"></div>
        </div>
        <button type="button" class="collapsible"><h3>Politics</h3></button>
        <div class="collapsecontent">
          <div id="politics"></div>
        </div>
        <button type="button" class="collapsible"><h3>Climate</h3></button>
        <div class="collapsecontent">
          <div id="climate"></div>
        </div>
    </div>
  </section>
  
<script src="{% static 'generaluse/reveal.js' %}"></script>
<script src="{% static 'generaluse/collapse.js' %}"></script>
<script src="{% static 'text/wordcloud.js' %}"></script>
</body>
{% endblock %}
