<!DOCTYPE html>
<html lang="en">
<head>
{% extends 'base.html' %}
{% block title %}Confirmation{% endblock %}
{% block content %}
<h1>Output from the ML model</h1>
<p> Total Funding: {{ result.funding_total_final }}</p>
<p>Seed: {{ result.seed }}</p>
<p>Round A: {{ result.roundA }}</p>
<p>Round B: {{ result.roundB }}</p>
<p>Round C: {{ result.roundC }}</p>
<p>Round D: {{ result.roundD }}</p>
<p>Round E: {{ result.roundE }}</p>
<p>Round F: {{ result.roundF }}</p>
<p>Round G: {{ result.roundG }}</p>
<p>Round H: {{ result.roundH }}</p>

<p> Category List: {{ result.category_list }}</p>
<p>The start up status after 2022 will be: {{ result.prediction }}</p>
<a href="{% url 'startup1:landingpage' %}">Back to Home</a>
</head>
<body style="background-color: white; color: blue;">
</body>
{% endblock %}