<!DOCTYPE html>
<html lang="en">
<head>
{% extends 'base.html' %}
{% block title %}Confirmation{% endblock %}
{% block content %}
<h1>Here will be the output from the ML model</h1>
<p> Sepal Width: {{ result.sepal_width }}</p>
<p>Sepal Length {{ result.sepal_length }}</p>
<p> Sepal Width: {{ result.petal_width }}</p>
<p>Sepal Length {{ result.petal_length }}</p>
<p>The Iris type is {{ result.prediction }}</p>
<a href="{% url 'iris:landingpage' %}">Back to Home</a>
</head>
<body style="background-color: white; color: blue;">
</body>
{% endblock %}