{% extends 'base.html' %}
{% block title %}Purpose{% endblock %}
{% block content %}
<head>
    {% load static %}
    <link href="{% static 'purpose/purpose.css' %}" rel="stylesheet">

</head>
<body style=height:1500px>
            <!--
            <section >
                <div class = "bodytextinfo" id = "frontimg">
                    <h1 class="slide-in">My Virtual Project History</h1>
                    <p class="slide-in">I will detail past data and programming projects below.</p>
                    <p class="slide-in">Each month I will release a new project into the main portfolio</p>
                    <p class="slide-in">The following runs through my project experiences and skills to-date.</p>
                </div>
            </section>
            -->
            <section>
                <h1>Welcome to my data science portfolio</h1>
              </section>
              <section>
                <div class="container reveal">
                  <h2>Long term Python Projects</h2>
                  <div class="text-container">
                    <div class="text-box">
                      <h3>HDI </h3>
                      <h4> Health Data Insight Internship </h4>
                      <p>
                        Summer 2022 - FHIR Messaging, AWS API calls, Data modelling
                      </p>
                    </div>
                    <div class="text-box">
                      <h3>Research Project </h3>
                      <h4> Microbiome NER Project</h4>
                      <p>
                        Extract named entities from scientific literature, training a deep learning BERT model, programmatically draw phylogenetic trees. 
                      </p>
                    </div>
                    <div class="text-box">
                      <h3>Degree </h3>
                      <h4>Final Year Project</h4>
                      <p>
                        API calls to extract microbe information, influence of fundamental ecological niche on the realised niche, K-means clustering, tSNE analysis
                      </p>
                    </div>
                  </div>
                </div>
              </section>
              
              <section>
                <div class="container reveal">
                  <h2>Side Projects</h2>
                  <div class="text-container">
                    <div class="text-box">
                      <h3>Polls Website</h3>
                      <p>
                        Fall 2024 - Created an online voting website, connected to a postgreSQL database instance, using python django and hosted on render. 
                        Additionally, this contained text processing for sentiment analysis. 
                      </p>
                    </div>
                    <div class="text-box">
                      <h3>Motion Capture</h3>
                      <p>
                        Used opencv2 to perform motion capture analysis on my tennis serve technique based on mp4 video files. 
                      </p>
                    </div>
                    </div>
                  </div>
                </div>
              </section>
              
              <section>
                <div class="container reveal">
                  <h2>Work Related Projects</h2>
                  <h3> Portfolio data and platform officer - The Earthshot Prize (August 2024 - PRESENT)</h3>
                  <div class="text-container">
                    <div class="text-box">
                      <h3>API Poster</h3>
                      <p>
                        Made a python program which ran via a .yaml file in github. This could automate post requests to our awards platform. 
                      </p>
                    </div>
                    <div class="text-box">
                      <h3>Excel CSV parser</h3>
                      <p>
                        Used tkinter to design a multi-user friendly user-interface for converting excel files and cleaning their data. 
                      </p>
                    </div>
                    <div class="text-box">
                      <h3>Matcher Algorithm</h3>
                      <p>
                        Based on various constraints, I designed a python script to match judges to entries based on their expertise level.
                      </p>
                    </div>
                  </div>
                </div>
              </section>
              <section>
                <div class="container reveal">
                  <h2>Portfolio Project 1</h2>
                  <h3> Startup Success</h3>
                  <div class="text-container">
                    <div class="text-box">
                      <h3>PyTorch Model and Training</h3>
                      <p>
                        Made a python pytorch model which can be accessed so that user's can make predictions on start-up success. Fine tuned the model's learning rate in order to achieve the highest accuracy.
                      </p>
                    </div>
                    <div class="text-box">
                      <h3>Feature Engineering</h3>
                      <p>
                        Utilised the google and yahoo APIs to obtain additional calculated values for the original dataset.
                      </p>
                    </div>
                    <div class="text-box">
                      <h3>Exploratory Data Analysis</h3>
                      <p>
                        Investigated the original dataset, generated interactive visualisations using chart.js.
                      </p>
                    </div>
                  </div>
                </div>
              </section>
              <section>
                <div class="container reveal">
                  <h2>Mini Project </h2>
                  <h3> Could you do it on a cold night in Stoke?</h3>
                  <div class="text-container">
                    <div class="text-box">
                      <h3>Metric Generation</h3>
                      <p>
                        Created a new calculated metric and transformed existing data to fit a suitable range for linear regression.
                      </p>
                    </div>
                    <div class="text-box">
                      <h3>Statistical Tests</h3>
                      <p>
                        Obtained results for significance of distribution and correlation
                      </p>
                    </div>
                    <div class="text-box">
                      <h3>Data Visualisation</h3>
                      <p>
                        Displayed findings in line charts, scatter/regression plots, pie charts, histograms using chart.js
                      </p>
                    </div>
                  </div>
                </div>
              </section>
    <script>
        



        function reveal() {
            var reveals = document.querySelectorAll(".reveal");
            for (var i = 0; i < reveals.length; i++) {
                var windowHeight = window.innerHeight;
                var elementTop = reveals[i].getBoundingClientRect().top;
                var elementVisible = 150;
                if (elementTop < windowHeight - elementVisible) {
                reveals[i].classList.add("active");
                } else {
                reveals[i].classList.remove("active");
                }
            }
            }
        window.addEventListener("scroll", reveal, {passive: true});
        
        document.addEventListener("DOMContentLoaded", function () {
            const slideElements = document.querySelectorAll(".slide-in");

            const observer = new IntersectionObserver(
                (entries, observer) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            entry.target.classList.add("slide-in-visible");
                            observer.unobserve(entry.target); // Stop observing once visible
                        }
                    });
                },
                { threshold: 0.01 } // Trigger when 1% of element is visible
            );

            slideElements.forEach(el => observer.observe(el));
        });
    </script>
</body>
{% endblock %}